<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.com.ck.dao.UserGroupFriendDao">

	<resultMap id="userGroupFriendInfo" type="org.com.ck.bean.UserGroupFriendInfo">
		<id column="ID" property="id" />
		<result column="USER_GROUP_FRIEND_ID" property="userGroupFriendId" />
		<result column="USER_GROUP_ID" property="userGroupId" />
		<result column="FRIEND_ID" property="friendId" />
		<result column="USER_ID" property="userId" />

	</resultMap>

	<sql id="User_Group_Friend_Base_Column">
		ID, USER_GROUP_FRIEND_ID, USER_GROUP_ID, FRIEND_ID, USER_ID 
	</sql>

	<select id="getUserGroupFriendList" resultMap="userGroupFriendInfo">
		SELECT <include refid="User_Group_Friend_Base_Column" />
		FROM user_group_friend 
		WHERE USER_GROUP_ID = #{userGroupFriendId}
	</select>

	<insert id="addUserGroupInfo">
		INSERT INTO user_group_friend
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userGroupFriendId != null &amp;&amp; userGroupFriendId !=''">
				USER_GROUP_FRIEND_ID,
			</if>
			<if test="userGroupId != null &amp;&amp; userGroupId !=''">
				USER_GROUP_ID,
			</if>
			<if test="friendId != null &amp;&amp; friendId !=''">
				FRIEND_ID,
			</if>
			<if test="userId != null &amp;&amp; userId !=''">
				USER_ID,
			</if>
		</trim>
		<trim prefix=" VALUES (" suffix=")" suffixOverrides=",">
			<if test="userGroupFriendId != null &amp;&amp; userGroupFriendId !=''">
				#{userGroupFriendId},
			</if>
			<if test="userGroupId != null &amp;&amp; userGroupId !=''">
				#{userGroupId},
			</if>
			<if test="friendId != null &amp;&amp; friendId !=''">
				#{friendId},
			</if>
			<if test="userId != null &amp;&amp; userId !=''">
				#{userId},
			</if>
		</trim>
	</insert>

	<update id="updUserGroupInfo">
		UPDATE user_group_friend
		<set>
			<if test="userGroupId != null &amp;&amp; userGroupId !=''">
				#{userGroupId},
			</if>
			<if test="friendId != null &amp;&amp; friendId !=''">
				#{friendId},
			</if>
			<if test="userId != null &amp;&amp; userId !=''">
				#{userId},
			</if>
		</set>
		WHERE USER_GROUP_FRIEND_ID = #{userGroupFriendId},
	</update>

	<delete id="delUserGroupFriendInfo">
		DELETE FROM user_group_friend WHERE
		USER_GROUP_FRIEND_ID = #{userGroupFriendId}
	</delete>
</mapper>
